/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


#content {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 50px;
 }

* {
  font-family: 'Raleway', sans-serif;
}
 /*ORGAN COMPONENT*/

 .organ {
   display: flex;
   position: relative;
   justify-content: center;
 }

.ivory {
  width: 50px;
  float: left;
  display: flex;
  margin: 3px;
  align-self: center;
  border-radius: 2px;
  flex-direction: column;
  justify-content: space-between;
}

.ivory:first-of-type {
  background-color: darkred;
  height: 240px;
}

.ivory:nth-of-type(2) {
  background-color: #E56717;
  height: 225px;
}

.ivory:nth-of-type(3) {
  background-color: gold;
  height: 210px;
}

.ivory:nth-of-type(4) {
  background-color: darkgreen;
  height: 195px;
}

.ivory:nth-of-type(5) {
  background-color: darkblue;
  height: 180px;
}

.ivory:nth-of-type(6) {
  background-color: indigo;
  height: 165px;
}

.ivory:nth-of-type(7) {
  background-color: purple;
  height: 150px;
}

.ivory:nth-of-type(8) {
  background-color: #990033;
  height: 135px;
}

.flat {
  /*width: 30px;
  height: 100px;
  background-color: black;
  border: 5px solid black;
  float: left;
  position: relative;
  display: block;
  z-index: 100;*/
  display: none;
}

.ivory.active {
  opacity: .75 !important;
}

.top-nail, .bottom-nail {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 10px;
  align-self: center;
}

.top-nail {
  position: relative;
  top: 30px;
}

.bottom-nail {
  position: relative;
  bottom: 30px;
}

/*RECORDER*/

.recorder {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: -70px;
  width: 100%;
}

.recorder-buttons {
  display: flex;
  justify-content: space-around;
  align-content: center
  width: 60%;
}

.recorder-buttons * {
  font-size: 60px;
}


/*JUKEBOX*/

.jukebox {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  /*justify-content: center;*/
}

.jukebox * {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.track-holder {
  width: 100%;
  padding: 15px;
  overflow-x: visible;
  /*overflow-y: scroll;*/
}

.track {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 2px;
  justify-content: flex-end;
  border-radius: 3px;
  background-color: lightgray;
  padding: 10px;
  padding-left: 15px;
}

.track-name {
  /*position: relative;
  right: 0px;*/
  flex-grow: 2;
}

button {
  background: none;
  border: none;
  outline: none;
  display: flex;
  align-content: center;
  justify-content: center;
  box-shadow: none;
  cursor: pointer;
  text-align: center;
  font-size: 32px;
}

button:hover {
  color: gray;
}

.fa-circle {
  font-size: 30px !important;
}

.turn-red {
  color: #CC0000;
}
