<!DOCTYPE html>
<html>
<head>
  <title>xylophone</title>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <h1>this is a xylophone</h1>
</head>
<body>

<%= yield %>

</body>
</html>
